# Ignore node_modules directory
node_modules/

# Ignore build files
/dist/
/build/

# Ignore IDE metadata
.idea/
.vscode/

# Ignore Docker containers
.docker/

# Ignore logs
/logs/

# Ignore database backups
db_backups/

# Ignore unnecessary files
*.log
*.tmp
*.swp
*.bak
*.tmp

# Ignore specific files
*.env
*.env.example

# React specific ignores
/client/node_modules
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/build/
/client/coverage/